:root {
  --primary-body-bg: rgba(231, 231, 231, 1);
  --secondary-body-bg: rgba(255, 255, 255, 1);
  --font-color: rgb(85, 85, 85);
}

body {
  background-color: var(--primary-body-bg);
  color: var(--font-color);
}

.pageBody {
  background-color: var(--secondary-body-bg);
}
